.roll-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
  margin-bottom: 2rem;
}

.roll-menu button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
  border: 2px transparent solid;
  background-color: var(--black);
  color: var(--white);
  transition: .2s cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: pointer;
}

.roll-menu button.discount-btn::after {
  content: "-"attr(discount)"% OFF";
  position: absolute;
  top: -0.9rem;
  right: -1.2rem;
  background-color: var(--accent);
  padding: 0.1rem 0.5rem;
  border-radius: 1rem;
  border: 2px transparent solid;
  transition: .2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.roll-menu button.discount-btn:hover::after {
  border: 2px var(--white) solid;
}

.roll-menu button:active {
  background-color: var(--dark-gray);
}

.roll-menu button:hover,
.roll-menu button:focus-visible {
  border: 2px var(--white) solid;
}